{% extends 'layout.html.twig' %}

{% block stylesheet %}
    {{ parent() }}
    {{ encore_entry_link_tags('trip_add') }}
{% endblock %}


{% block title %}
    Sortir.com - Créer une sortie
{% endblock %}

{% block main %}

    <h3>Créer une sortie</h3>
    <p>WORK IN PROGRESS !</p>

{% endblock %}

 {% block script %}
     {{ parent() }}
     {{ encore_entry_link_tags('trip_add') }}
 {% endblock %}