{% extends 'layout.html.twig' %}

{% block title %}
    Sortir.com - Tableau de bord
{% endblock %}

{% block header %}

    {% include 'include/nav.html.twig' %}
    <h3>Filtrer les sorties</h3>

{% endblock %}

{% block main %}

    {#TODO remplir la page#}

{% endblock %}