{% extends 'layout.html.twig' %}

{% block main %}
    {#TODO{{ form_start(nom_formulaire) }}#}
    {#TODO{{ form_widget(nom_formulaire) }}#}

    <button type="submit">Connexion</button>
    {#TODO{{ form_end(nom_formulaire) }}#}


{% endblock %}